@font-face
  font-family: 'icomoon'
  src: url('fonts/icomoon.eot?vi4ds7')
  src: url('fonts/icomoon.eot?vi4ds7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vi4ds7') format('truetype'),
    url('fonts/icomoon.woff?vi4ds7') format('woff'),
    url('fonts/icomoon.svg?vi4ds7#icomoon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"],
[class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-tick:before
  content: "\e900"

.icon-arrow-right-thick:before
  content: "\e905"

.icon-arrow-left-thick:before
  content: "\e911"

.icon-th-menu:before
  content: "\e901"

.icon-arrow-up-thick:before
  content: "\e912"

.icon-arrow-down-thick:before
  content: "\e902"

.icon-heart:before
  content: "\e913"

.icon-video:before
  content: "\e914"

.icon-cog:before
  content: "\e915"

.icon-social-dribbble:before
  content: "\e916"

.icon-media-play:before
  content: "\e917"

.icon-heart-outline:before
  content: "\e918"

.icon-video2:before
  content: "\e018"

.icon-search:before
  content: "\e036"

.icon-head:before
  content: "\e074"

.icon-speech-bubble:before
  content: "\e076"

.icon-tag:before
  content: "\e085"

.icon-volume:before
  content: "\e098"

.icon-expand:before
  content: "\e110"

.icon-cross:before
  content: "\e117"

.icon-archive:before
  content: "\e121"

.icon-ellipsis:before
  content: "\e129"

.icon-phone:before
  content: "\e919"

.icon-chevron-small-down:before
  content: "\e903"

.icon-chevron-small-right:before
  content: "\e904"

.icon-chevron-thin-left:before
  content: "\e91a"

.icon-chevron-thin-right:before
  content: "\e91b"

.icon-calendar:before
  content: "\e910"

.icon-circular-graph:before
  content: "\e91c"

.icon-heart-outlined:before
  content: "\e91d"

.icon-heart3:before
  content: "\e91e"

.icon-star-outlined:before
  content: "\e91f"

.icon-star:before
  content: "\e920"

.icon-suitcase:before
  content: "\e921"

.icon-write:before
  content: "\e906"

.icon-envelope:before
  content: "\e907"

.icon-users:before
  content: "\e908"

.icon-sound:before
  content: "\e924"

.icon-cog2:before
  content: "\e925"

.icon-calendar2:before
  content: "\e922"

.icon-map-marker:before
  content: "\e909"

.icon-store:before
  content: "\e90a"

.icon-support:before
  content: "\e90b"

.icon-video-camera:before
  content: "\e926"

.icon-trophy:before
  content: "\e90c"

.icon-cart:before
  content: "\e90d"

.icon-eye:before
  content: "\e90e"

.icon-bookmark:before
  content: "\e90f"

.icon-mouse:before
  content: "\e927"

.icon-credit-card:before
  content: "\e93f"

.icon-equalizer:before
  content: "\e992"

.icon-share2:before
  content: "\ea82"

.icon-facebook:before
  content: "\ea90"

.icon-instagram:before
  content: "\ea92"

.icon-twitter:before
  content: "\ea96"

.icon-youtube:before
  content: "\ea9d"

.icon-linkedin2:before
  content: "\eaca"

