.section-explore
	display block
	background-color white
	margin 50px 0px 0px 0px
	padding 0px
	
	.wrapper-filter-a, .wrapper-filter-b
		margin 0px
		padding 0px
		height 35px
		display block
		width 100%
		
		ul
			height 100%
			margin 0px
			align-items center
			padding 0px
			display flex
			align-content center
			justify-content space-around
			list-style none
			
			li
				a
					text-decoration none
					p, span
						display inline-block
	.substage-explore
		.wrapper-categories-btn
			display block
			background: rgb(0,174,181);
			background: -moz-linear-gradient(-45deg,  rgba(0,174,181,1) 0%, rgba(0,151,211,1) 31%);
			background: -webkit-linear-gradient(-45deg,  rgba(0,174,181,1) 0%,rgba(0,151,211,1) 31%);
			background: linear-gradient(135deg,  rgba(0,174,181,1) 0%,rgba(0,151,211,1) 31%);
			margin 0px
			padding 0px
			position relative
			top 85px
			height 1100px
			position fixed
			z-index 5
			width 100%
			h4
				display block
				margin 0px auto 0px auto
				width 198px
				padding 35px 0px 0px 0px
				font-family "Oxygen"
				font-size 0.9em
				font-weight bold
				color white
				
			ul
				display flex
				flex-wrap wrap
				border solid 1px white
				width 70%
				margin 40px auto 0px auto
				padding 0px
				list-style none
				
				li
					border solid 1px #ccc
					width 32.3%
					margin 3% 0px
					a
						text-decoration none
						
						img
							display block
							width 20px
							margin 0px auto
							
						p
							text-align center
						
				

		.wrapper-thumbnails
			display flex
			flex-direction column
			justify-content center
			align-content center
			margin 123px auto 0px auto
			width auto
			.thumbnail
				display block
				width 99%
				height 230px
				margin 5px 0px
				border-radius 10px
				overflow hidden
				.thumb-image
					position relative
					z-index 1
					display block
					width 100%
					height 100%
					margin 0px
					padding 0px
					overflow hidden
					-webkit-filter: blur(18px);
					-moz-filter: blur(18px);
					-o-filter: blur(18px);
					-ms-filter: blur(18px);
					filter blur(18px)
					
					img
						margin 0px
						padding 0px
						display block
						width 100%
						
					
				.mask
					position relative
					z-index 2
					display block
					margin 0px
					padding 0px
					top -230px
					
					.transparent-mask-content
						display block
						position relative
						z-index 3	
						height 230px
						width 100%
						margin 0
						overflow hidden
						
						
						.price
							position relative
							top 13px
							left 0px
							margin 0px
							padding 0px
							height 30px
							width 57px
							text-align center
							line-height 30px
							background-color #00aeb5
							opacity 0.7
							
						.background-ico-play
							background-color white
							opacity 0.3
							width 50px
							height 50px
							border-radius 50%
							margin 40px auto 0px auto
							padding 0px
							
					
						.ico-play
							margin -50px auto 0px auto
							display block
							width 50px
							height 50px
							line-height 50px
							text-align center
							font-size 2.5em
							border-radius 50%
							color white
													
						h3, h4
							display block
							position relative
							top 50px
							margin 0px 4% 0px 0px
							padding 0px
							text-align right
							
						h3
							text-transform uppercase
							
						h4
							text-transform capitalize

						

					.blur-mask-content
						display none
						position relative
						z-index 2
						height 100%
						margin 0px
						padding 0px
						width auto
							
						
						.wrapper-blur-mask-btn
							display flex
							justify-content space-between
							margin 13px 0px 13px 0px
							padding 0px 30px
							
						h1, .thumb-text
							margin 0px
							padding 0px 25px
							
						.thumb-description
							margin 6px 0px 

						
						.wrapper-social-interaction-data
							list-style none
							margin 0px 0px 0px 0px
							padding 0px
							padding 0px 30px
							li
								display inline-block
								
								a, p
									display inline-block
								a
									text-decoration none
									.icos
										position relative
										top 2px
										
									.ico-heart-active
										display none
										
									 
							.floating-wrapper-data
								float right
								
							.comments-info
								margin-left 5px

.transparent-btn
	background-color rgb(201, 201, 201, 0.1)
	margin 0px
	padding 0px 10px
	height 25px
	width auto
	border-radius 20px
	line-height 25px
	text-decoration none
	cursor pointer
	display flex
	align-items center
	align-content center
	justify-content space-around
	
	p
		margin 0px 0px 0px 7px
		
	span 
		color white

.text-medium-bold-grey
	font-family "Oxygen"
	font-size 0.8em
	font-weight bold
	color grey
	
.text-small-normal-white
	font-family "Oxygen"
	font-size 0.6em
	font-weight normal
	color white
	
.text-small-lighter-white
	font-family "Oxygen"
	font-size 0.6em
	font-weight lighter
	color white

.text-medium-lighter-white
	font-family "Oxygen"
	font-size 0.7em
	font-weight lighter
	color white	

.text-medium-bold-white
	font-family "Oxygen"
	font-size 0.7em
	font-weight bold
	color white
	
.text-big-bold-white
	font-family "Oxygen"
	font-size 0.9em
	font-weight bold
	color white
	text-transform capitalize
	margin 0px
	padding 0px
	
.text-big-normal-white
	font-family "Oxygen"
	font-size 0.9em
	font-weight normal
	color white
	text-transform capitalize
	margin 0px
	padding 0px
		
.wrapper-filter-a
	position fixed
	top 50px
	z-index 4
	background: rgb(62,146,157);
	background: -moz-linear-gradient(left,  rgba(62,146,157,1) 0%, rgba(56,131,173,1) 76%);
	background: -webkit-linear-gradient(left,  rgba(62,146,157,1) 0%,rgba(56,131,173,1) 76%);
	background: linear-gradient(to right,  rgba(62,146,157,1) 0%,rgba(56,131,173,1) 76%);

.wrapper-filter-b
	position fixed
	top 85px
	z-index 4
	background-color #F2F2F2
	
.btn-filter
	background-color #D8D8D8
	border-radius 10px
	width 80px
	height 20px
	margin 0px 3px
	padding 0px
	overflow hidden
	a
		cursor pointer
		position relative
		top -3px
		display block
		width 100%
		height 100%
		text-decoration none
		p
			display block
			width 100%
			font-size 0.6em
			font-weight lighter
			color #585858
			font-family "Oxygen"
			text-align center
			margin 6px auto 0px auto
			
			

@media screen and (min-width: 767px)
		
	body .container .app-stage .section-explore .substage-explore .wrapper-thumbnails
		display flex
		flex-direction row
		flex-wrap wrap
		width 712px
		margin 10px auto 0px auto
		justify-content flex-start
		.thumbnail
			width 346px
			margin 0px 5px 10px 5px

@media screen and (min-width: 1000px)
	.section-explore
		margin 60px 10px 10px 10px 
	.wrapper-thumbnails
		border solid 1px yellow
		width auto
		margin 0px auto
		
	body .container .app-stage .section-explore .substage-explore .wrapper-thumbnails
		justify-content flex-start
		align-content flex-start
		margin 10px auto 0px auto
			

	.section-explore .wrapper-filter-a 
		position relative
		top 0px
		ul
			max-width 300px
			margin 0px auto
		
	.section-explore .wrapper-filter-b
		position relative
		top 0px
		ul
			max-width 430px
			margin 0px auto
		
	.element-hidden
		display none
		
	body .container .app-stage .section-explore .substage-explore .wrapper-categories-btn
		display block
		width 150px
		padding 0px
		margin 10px 10px 0px 0px
		background none
		background-color #F2F2F2
		position relative
		top 0px
		
		h4
			display none
			
		ul
			list-style none
			margin 0
			padding 0
			display block
			width auto
			
			
			li
				border solid 1px green
				max-width 100px
				margin 25px auto
				cursor pointer
				width 100%
				
				
				a
					width 100%
					height 100%
					display flex
					align-items center
					justify-content flex-start
					text-decoration none
					
					
					img, p
						border solid 1px black
						margin 0px
						
					p
						color #585858
						font-size 0.8em
						font-family "Montserrat"
						font-weight normal
						margin 0px 0px 0px 6px
					
					img
						height 100%
						
	
	body .container .app-stage .section-explore .substage-explore
		display flex
		align-content flex-start
		
@media screen and (min-width: 1278px)
	
	body .container .app-stage .section-explore .substage-explore .wrapper-thumbnails
		width 1110px
