	
.popup-add-to-plan
	display flex
	flex-direction column
	position fixed
	top 0
	z-index 12
	width 100%
	height 100vh
	background-color white
	.btn-close
		text-align right
		margin 10px 10px 0px 0px
	.popup-plan-title
		width 100%
		text-align center
		padding 0px
		margin 50px 0px 33px 0px
		
	.btn-create-new-plan
		background-color #02AC36
		margin 25px auto 10px auto
	.btn-add-to-car
		background-color #0097D3
		margin 0px auto
		
	.btn-create-new-plan, .btn-add-to-car
		display flex
		align-items center
		justify-content flex-end
		width 290px
		height 40px
		border-radius 10px
		p
			width 75%
			text-align center
		span
			width 12%
			color white
			font-size 1.2em
	
	.wrapper-popup-add-to-plan
		width 290px
		margin 0px auto
		display block
		
		
		.wrapper-list-plans
			max-height 250px
			width 100%
			border-top solid 1px #CECECE
			overflow auto
			.row-plan
				border-bottom solid 1px #CECECE
				height 45px
				width 100%
				margin 0px
				padding 0px
				display flex
				justify-content space-around
				align-items center
				
				
				figure
					width 40px
					height 30px
					border solid 1px #ccc
					margin 0px
					border-radius 5px
					padding 0px
					overflow hidden
					img
						width 100%
						margin 0px
						padding 0px
				p
					width 150px
					overflow hidden
				.btn-save-plan
					background-color #02AC36
					width 70px
					height 30px
					line-height 30px
					border-radius 4px
					text-align center
					cursor pointer
			
			.row-plan:hover
				background-color #EBEBEB
					
		

	.wrapper-popup-create-new-plan
		width 290px
		margin 0px auto
		display none
		form
			width 100%
			margin-top 40px
			.form-field-create-plan
				border solid 1px #535C61
				border-radius 10px
				width 100%
				margin 10px auto
				padding 0px
				height 40px
				line-height 45px
				display flex
				align-items center
				
				input
					width 85%
					height 60%
					overflow hidden
					float left
					margin-left 7px
					color #58595b
					font-family "Oxygen"
					font-size 0.9em
					border none
					
				input:focus
					outline 0
				span
					color #58595b
					font-size 1.2em
					text-align center
					margin 0px 0px 0px 0px
					padding 0px
		a
			text-decoration none
			color #DA5655
			font-family "Oxygen"
			font-size 0.9em
			font-weight lighter
			text-align center
			display block
			margin 25px auto
			width 100px
			

	
.btn-login
	height 20px
	width 230px
	margin 15px auto
	border-radius 10px
	padding 10px 30px
	text-decoration none
	display flex
	justify-content space-around
	align-items center
	
	p, span
		font-family "Oxygen"
		font-size 0.8em
		font-weight normal
		margin 0px
		text-align center
		line-height 30px
		height 30px
	
	span
		width 35px
		
.btn-login-fb
	background-color #00599f
	
	span, p
		color white
	
.popup-login, .popup-planner, .popup-planner-fly
	display none
	width 100%
	height 100vh
	background: rgb(0,151,211);
	background: -moz-linear-gradient(-45deg,  rgba(0,151,211,1) 0%, rgba(0,174,181,1) 100%);
	background: -webkit-linear-gradient(-45deg,  rgba(0,151,211,1) 0%,rgba(0,174,181,1) 100%);
	background: linear-gradient(135deg,  rgba(0,151,211,1) 0%,rgba(0,174,181,1) 100%);
	position fixed
	top 0px
	z-index 11
	.wrapper-popup-login, .wrapper-popup-planner, .wrapper-popup-planner-fly
		background-color #FFFFFF
		display flex
		align-content flex-start
		flex-direction column
		width 100%
		height 100vh
		margin-left auto
		margin-right auto
		position relative
		top 0px
		z-index 12
		
		.btn-close
			display block
			text-align right
			font-size 1.8em
			color #ccc
			margin 10px 10px 0px 0px
			cursor pointer

		.popup-login-wrapper-content, .popup-planner-wrapper-content, .popup-planner-wrapper-content-fly
			width 90%
			margin 0px auto
			height 100%
			display flex
			justify-content center
			flex-direction column
			
			h4
				margin 0px auto 20px auto
				padding 0px
				font-family "Oxygen"
				font-size 1em
				font-weight normal
				display block
				width 80%
				text-align center
			.text-terms-conditions	
				font-family "Oxygen"
				font-size  0.9em
				font-weight normal
				color #404041
				width 94%
				padding 0px
				margin 20px auto 80px auto
				text-align justify
				a
					text-decoration none
					color #0097d3
			form
				margin-top 20px

.popup-planner, .popup-planner-fly
	display flex
	.wrapper-popup-planner .popup-planner-wrapper-content, .wrapper-popup-planner-fly .popup-planner-wrapper-content-fly 
		justify-content flex-start
		margin-top 50px
		h4
			margin-bottom 0px
			
.popup-planner-fly .btnBack
	color #95989A
	
	
.input-box
	width 100%
	height 40px
	line-height 40px
	margin 10px auto
	border solid 1px #95989A
	border-radius 10px
	
	input
		border none
		background-color #FFFFFF
		color #95989A
		font-family "Oxygen"
		font-size 1em
		height 30px
		width 245px
		position relative
		left 10px
		outline 0px
		
	.ico
		color #95989A
		font-size 1.3em
		text-align center
		display block
		float right
		position relative
		top 10px
		right 10px

.btnForm
	width 100%
	height 40px
	line-height 40px
	margin 30px auto 10px auto
	background-color #02AC36
	border-radius 10px
	display flex
	justify-content space-between
	align-items center
	cursor pointer
	
	p
		font-family "Oxygen"
		font-size 0.9em
		font-weight lighter
		color white
		margin 0px
		padding 0px
		text-align center
		
	span
		color white
		margin-right 13px
		
.btnCancel
	cursor pointer
	color #DC5F5F
	font-family "Oxygen"
	font-weight lighter
	font-size 0.9em
	text-align center
	margin-top 15px
		
.popup-planner
	display none

@media screen and (min-width: 767px)
	.popup-add-to-plan
		width 310px
		height 500px
		margin-left auto
		margin-right auto
		left 0
		right 0
		top 100px
		position fixed
		
	.popup-login, .popup-planner, .popup-planner-fly
		display none
		justify-content center
		align-items center
		.wrapper-popup-login, .wrapper-popup-planner, .wrapper-popup-planner-fly
			height 450px
			width 380px
			.btn-close
				margin-bottom 40px
				
	.btnForm
		width 300px
	.input-box
		width 300px


	.popup-planner, .popup-planner-fly
		display flex
		.wrapper-popup-planner .popup-planner-wrapper-content, .wrapper-popup-planner-fly .popup-planner-wrapper-content-fly
			margin-top 0px
	.popup-planner-fly .wrapper-popup-planner-fly
		height 506px

		
		
			