.section-explore-video-scene
	display block
	background-color white
	margin 50px 0px 0px 0px
	padding 0px
	

	.video-scene
		overflow hidden
		height 190px
		
	.wrapper-explore-scene-blocks
		width 100%
		
	.wrapper-planner-buttons
		
		.grid-planner-buttons
			display flex
			align-items center
			justify-content space-between
			height 50px
			margin 0px auto
			
			
			
				
			div
				width 32%
				
				
				a
					justify-content center
					width 80px
					margin 0px auto
					background-color #EFEFEF
					
					p
						margin 0px 0px 2px 5px 
						
					span
						color #58595b
					.icon-share2
						font-size 0.8em
						
				a:hover
					background #00aeb5
					background -moz-linear-gradient(left, rgba(0,174,181,1) 1%, rgba(0,174,181,1) 33%, rgba(0,151,211,1) 100%)
					background -webkit-linear-gradient(left, rgba(0,174,181,1) 1%,rgba(0,174,181,1) 33%,rgba(0,151,211,1) 100%)
					background linear-gradient(to right, rgba(0,174,181,1) 1%,rgba(0,174,181,1) 33%,rgba(0,151,211,1) 100%)
					
					span, p
						color white
						
				.active-button
					background-color #DC5F5F
					p
						color white
					
			.wrapper-like-button
				a
					margin 0px auto
					.ico-heart-active
						display block
						color white
			.wrapper-add-button
				a
					margin 0px auto
					
				
					
	.wrapper-price
		border solid 1px #0097d3
		width 250px
		height 70px
		margin 7px auto
		display flex
		align-items center
		justify-content center
		
		
		.price-number
			width 50%
			margin-right 3px
		.price-text
			text-align left
			height 35px
			width 80px
			margin-left 3px	


	.wrapper-enterprise-images
		width 100%
		margin 20px 0px 
		padding 0px
		height 70px
		overflow hidden
		display flex
		
		figure
			display block
			margin 0px
			padding 0px
			height 100%
			width 25%
		
			img
				width 100%
	.wrapper-map
		height 200px
		
	.wrapper-explore-enterprise-info
		margin 10px 0px 30px 0px 
		.header-explore-enterprise-info
			margin 5px auto
			width 87%
			align-items center
			h1
				width 50%
				text-transform capitalize
			div
				width 46%
				a
					text-decoration none
					display inline-block
					width 25px
					margin 0px 3px 0px 0px 
					padding 0px
					span
						margin 0px 5px 0px 0px
						border-radius 50%
						color white
						display inline-block
						width 25px
						height 25px
						line-height 25px
						text-align center
					.icon-facebook
						background-color #00599f
					.icon-twitter
						background-color #00a7e8
					.icon-instagram
						background-color #971e62
		.body-explore-enterprise-info
			width 87%
			margin 0px auto
			align-items center
		.body-explore-enterprise-info
			align-items flex-start
		.header-explore-enterprise-info, .body-explore-enterprise-info
			display flex
			justify-content space-between


		.body-explore-enterprise-info
			figure
				height auto
				width 50%
				margin 0px auto
				padding 0px
				
				img
					display block
					margin 0px auto 0px auto
					width 100%
					vertical-align middle
					
					
			div 
				margin 0px
				width 50%
				padding 0px
				div
					width 100%
					display flex
					align-items center
					margin 0px
					padding 0px
					
					span
						margin 3px 5px 0px 15px
						
					.company-name-field
						text-transform capitalize
						
						
					p
						margin 0px 0px 0px 2px
						padding 4px 0px
						
	.wrapper-explore-scene-description
		width 87%
		margin 0px auto
		h2, h3, h4
			margin 0px
		h2
			text-transform uppercase
		h3, h4
			text-transform capitalize
		p
			text-align justify
		
	.wrapper-user-comments 
		width 87%
		margin 0px auto
		div
			display flex
			align-items center
			line-height auto
			img, .section-comment-user-name, .section-comment-user-comment
				margin 0px 5px 0px 0px

.division-explore-video-scene
	border-top solid 1px #d3d3d3
	border-bottom solid 1px #d3d3d3
	height 40px
	text-align center
	line-height 40px
	margin 10px 0px

.btn-more
	cursor pointer
	border-bottom none
	border-top none
	
	span
		position relative
		top 2px



@media screen and (min-width: 767px)
	.section-explore-video-scene .video-scene
		height 350px
		
	.section-explore-video-scene .wrapper-planner-buttons .grid-planner-buttons
		justify-content space-between
		width 70%
		margin 0px auto
		
		div
			width 24%
			
	.section-explore-video-scene .wrapper-price
		width 29%

	.section-explore-video-scene .wrapper-enterprise-images 
		
		figure
			width 250px
			display inline-block
	.section-explore-video-scene .wrapper-explore-enterprise-info
		width 56%
		height auto
		margin 0px auto 20px auto
		
@media screen and (min-width: 1000px)
	.wrapper-explore-scene-blocks
		display flex
		flex-wrap wrap
		flex-direction row-reverse
		align-items flex-start
		.wrapper-explore-scene-b-a, .wrapper-explore-scene-b-b, .wrapper-explore-scene-b-c, .wrapper-explore-scene-b-d
			width 49.8%

		.wrapper-explore-scene-b-c
			position relative
			top -18px
			

			
	.section-explore-video-scene .wrapper-enterprise-images 
		height 150px
		margin 4px 0px
		figure
			width 25%
			margin 0px
	.section-explore-video-scene .wrapper-price
		width 360px
		height 85px
		margin-top 15px
		.price-number
			width auto
			margin-right 17px
			font-size 3em
		.price-text
			font-size 1.1em
			width 83px
			height 51px
			
	.section-explore-video-scene .wrapper-explore-enterprise-info 
		margin-top 30px
		width 67%
		.body-explore-enterprise-info div div .text-halfmedium-normal-grey-o
			font-size 0.9em
	.division-explore-video-scene
		border-top none
		width 90%
		margin 15px auto
		
	.section-explore-video-scene .wrapper-explore-scene-description
		margin-top 30px
		width 79%
		
	.section-explore-video-scene .wrapper-user-comments div p
		font-size 0.8em

		
	.text-halfmedium-normal-grey-o
		font-size 0.9em
		
	.section-explore-video-scene .wrapper-explore-scene-description .text-special-resize
		font-size 1em

	.section-explore-video-scene .wrapper-planner-buttons .grid-planner-buttons 
		margin-top 8px
		div
			width 33%
			a
				width 100px
				height 33px
				p
					font-size 0.9em
				span
					font-size 1.1em
		
	.wrapper-explore-scene-b-b, .wrapper-explore-scene-b-d
		background-color #F8F7F7
