.headlines
	display block
	font-family "Oxygen"
	font-size 1.6em
	line-height 1.3em
	font-weight normal
	margin 0px 
	padding 0px

.headline-black
	color #404041
	text-align center
	
.subtitle
	font-family "Oxygen"
	font-size 0.9em
	font-weight lighter
	margin 10px auto 0px auto
	padding 0px
	display block
	
.subtitle-selling-line
	font-family "Oxygen"
	font-size 1.2em
	font-weight lighter
	margin 10px auto 0px auto
	padding 0px
	display block

.subtitle-black
	color #404041
	text-align center
	
.text-banner-white
	color white

.headline-center
	text-align center
	color white

.text-big-bold-grey-m
	font-family "Montserrat"
	font-size 2.5em
	font-weight 700
	color #58595b
	
.text-medium-bold-grey-m
	font-family "Montserrat"
	font-size 2em
	font-weight 900
	color #58595b
	
.text-small-bold-grey-m
	font-family "Montserrat"
	font-size 1.5em
	font-weight bold
	color #58595b
	
.text-small-normal-grey-m
	font-family "Montserrat"
	font-size 1.5em
	font-weight 500
	color #58595b
	
.text-smaller-normal-grey-m
	font-family "Montserrat"
	font-size 1.2em
	font-weight normal
	color #58595b
	
.text-halfsmaller-normal-grey-m
	font-family "Montserrat"
	font-size 1em
	font-weight normal
	color #58595b
	
.text-tiny-normal-grey-m
	font-family "Montserrat"
	font-size 0.8em
	font-weight normal
	color #58595b

	
.text-giant-normal-grey-o
	font-family "Oxygen"
	font-size 1.5em
	font-weight normal
	color #58595b
	
.text-big-normal-grey-o
	font-family "Oxygen"
	font-size 1.1em
	font-weight normal
	color #58595b
	
.text-medium-normal-grey-o
	font-family "Oxygen"
	font-size 0.9em
	font-weight normal
	color #58595b
	
.text-halfmedium-normal-grey-o
	font-family "Oxygen"
	font-size 0.7em
	font-weight lighter
	color #58595b
	
.text-small-normal-grey-o
	font-family "Oxygen"
	font-size 0.6em
	font-weight normal
	color #58595b
	
.text-small-lighter-grey-o
	font-family "Oxygen"
	font-size 0.6em
	font-weight lighter
	color #58595b
	
.text-giant-bold-white-m
	font-family "Montserrat"
	font-size 1.5em
	font-weight bold
	color white
	text-transform capitalize
	margin 0px
	padding 0px
	
.text-big-bold-white-m
	font-family "Montserrat"
	font-size 1em
	font-weight bold
	color white
	text-transform capitalize
	margin 0px
	padding 0px


.text-medium-bold-white-m
	font-family "Montserrat"
	font-size 0.7em
	font-weight bold
	color white
		
.text-big-normal-white-m
	font-family "Montserrat"
	font-size 0.9em
	font-weight normal
	color white
	text-transform capitalize

.text-small-normal-white-o
	font-family "Oxygen"
	font-size 0.6em
	font-weight normal
	color white
	
.text-big-lighter-white-o
	font-family "Oxygen"
	font-size 0.8em
	font-weight lighter
	color white	

	
.text-medium-lighter-white-o
	font-family "Oxygen"
	font-size 0.7em
	font-weight lighter
	color white	

.text-small-lighter-white-o
	font-family "Oxygen"
	font-size 0.6em
	font-weight lighter
	color white

